doctype html
html
	head
		title Pocketistic
		link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/vendor/sweetalert.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		h1= message
		h2= error.status
		pre #{error.stack}

		script(src='/scripts/vendor/jquery-3.0.0.min.js')
