doctype html
html
	head
		title Pocketistic
		link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/vendor/bootstrap-dashboard.css')
		link(rel='stylesheet', href='/stylesheets/vendor/sweetalert.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body#home
		nav.navbar.navbar-inverse.navbar-fixed-top
			div.container-fluid
				div.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='#') Pocketistic
				div.navbar-collapse.collapse#navbar
					ul.nav.navbar-nav.navbar-right
						li: a#update(href='#')
						li: a(href='#') #{username}
		div.container-fluid
			div.row
				div.col-md-12.main
					p Total articles: {data.count.total}
					p Read: {data.count.read}
					p Unread: {data.count.unread}
					p Total word count: {data.count.wordCount}
					p Average words per article: {data.count.averageWordCount}
					canvas#count-graph
					canvas#domain-graph


	script(src='/scripts/vendor/jquery-3.1.0.min.js')
	script(src='/scripts/vendor/sweetalert.min.js')
	script(src='/scripts/vendor/chart.min.js')
	script(src='/scripts/vendor/rivets.bundled.min.js')
	script(src='/scripts/vendor/rcolor.js')
	script(src='/scripts/index.js')
