extends layout

block content
	div#home
		div
			h1 Pocketistic
			button.btn.btn-default(type='button', data-toggle='modal', data-target='#modal') SIGN IN

		div.modal.fade#modal(tabindex='-1', role='dialog')
			div.modal-dialog.modal-sm(role='document')
				div.modal-content
					div.modal-body
						p Redirecting...

block scripts
	script(src='/scripts/login.js')
