doctype html
html
	head
		title Pocketistic
		link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/vendor/sweetalert.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content

		script(src='/scripts/vendor/jquery-3.0.0.min.js')
		script(src='/scripts/vendor/sweetalert.min.js')
		block scripts
