@import "flex";

@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

$BLUE: #E4F1FE;

body {
	@extend .fullbleed;

	height: 100vh !important;
	width: 100vw;
	background-size: cover;
	background-position: center center;
	font-family: "Roboto", sans-serif;
	letter-spacing: 1.5px;
}

body, h1, h2, h3, h4, h5, h6, p {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Shadows Into Light", cursive;
}

#login {
	@extend .layout;
	@extend .vertical;
	@extend .center-center;

	div {
		h1 {
			font-size: 48px;
			font-family: "Shadows Into Light", cursive;
			text-align: center;
		}

		div.skew-button {
			overflow: hidden;
			position: relative;
			margin: 30px auto;
			width: 140px;

			div {
				cursor: pointer;
				text-align: center;
				overflow: hidden;
				background-color: transparent;
				border: solid 2px black;
				color: black;
				padding: 7.5px 25px;
				display: block;
				outline: 0;
				letter-spacing: 2px;
				transition: all 0.4s ease;
				font-weight: bold;

				&:before {
					position: absolute;
					transition: all 0.4s ease;
					content: "";
					width: 0;
					bottom: 0;
					background-color: #3498DB;
					height: 120%;
					left: -10%;
					transform: skewX(15deg);
					z-index: -1;
				}

				&:hover {
					color: white;
					border-color: #3498DB;

					&::before {
						width: 120%;
					}
				}
			}
		}

		img {
			margin: 30px auto;
			display: block;
			width: 50px;
		}
	}
}

#home {
	.navbar {
		.navbar-brand {
			font-family: "Shadows Into Light", cursive;
			color: $BLUE;
			cursor: default;
			font-size: 24px;
		}

		li > a {
			color: $BLUE;
			cursor: default;
		}
	}
}
